---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-l font-light">
      Hi, I'm Juan, a Frontend software developer from Colombia .
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Php</li>
        <li>MongoDB</li>
        <li>SQL</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about exercising especially gym and cycling. Another hobby is languages
    </p>
  </div>
</Card>
