---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { EXPERIENCE } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Experience">
  <div class="mt-2 space-y-4">
    
    <a href="/work">
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div>
</Card>
